<link rel="stylesheet" href="~/Content/bootstrap/bootstrap.min.css" />
<link rel="stylesheet" href="~/Content/bootstrap/bootstrap-glyphicons.css" />
<script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
<script type="text/javascript" src="~/Scripts/knockout-2.1.0.js"></script>


<div class="navbar navbar-inverse navbar-fixed-top">
    <a class="text-center col-sm-2 navbar-btn" href="#"><img src="~/Imgs/logotiposite.png" height="40px"/></a>
    <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Cardápio</a></li>
        <li><a href="#">Quem Somos?</a></li>
        <li><a href="#">Fale Conosco</a></li>
    </ul>
    <ul class="nav navbar-nav pull-right">

        <li>&nbsp;&nbsp;</li>
        <li class="btn btn-danger navbar-btn" id="lilogar">Logar</li>
        <li>&nbsp;&nbsp;</li>
        <li class="btn btn-danger navbar-btn" id="licriar">Criar</li>
    </ul>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#lilogar').click(function () {
            $("#modalLogar").modal("show");
        });
        
        $('#licriar').click(function () {
            $("#modalCriar").modal("show");
        });

    });
</script>

